In [1]:
stream_dir = '/FileStore/tables/baby-data'
static = spark.read.csv(stream_dir, header=True) 
dataSchema = static.schema

In [2]:
print(dataSchema)

In [3]:
baby_stream_df = spark.readStream.schema(dataSchema).option("maxFilesPerTrigger", 1).csv(stream_dir)

In [4]:
gender_count = baby_stream_df.groupBy('sex').count()

In [5]:
gender_count_query = gender_count.writeStream.queryName('gender_counts').format('memory').outputMode('complete').start()

In [6]:
from time import sleep
for x in range(5):
  print("Female count number ", x)
  spark.sql("SELECT * FROM gender_counts WHERE sex='F'").show()
  sleep(30)